@charset "UTF-8";
/*rgb(100, 151, 209);*/
body{
    background: rgba(3, 3, 3, 0.747);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

select#flista{
    width: 150px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}   